{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'recipe:recipe_list' %}">Рецепты</a> <a href="{% url 'recipe:ingridients_list' %}">Ингридиенты</a>
    <form action=".">
        <input type="text" name="query" value="{{ query|default:'' }}">
        <input type="submit" value="Поиск">
    </form>
    <form method="post" action=".">
        {% for ingr in ingridients_list %}
            <p>
                <input type="checkbox">
                {{ ingr.ingredient }}
                {{ ingr.category }}
            </p>
        {% endfor %}
        <input type="submit" value="Поиск">
    </form>
{% endblock content %}
