 {% extends 'base.html' %}

 {% block content %}
     <a href="/">На главную</a>
     <h1>{{ recipe.receipt }}</h1>
    <h3>Пищевая ценность:</h3>
    <ul>
        <li>Жиры {{ recipe.energy.fat }}</li>
{#        <li>calorific value {{ energy.calorific value }}</li>#}
        <li>protein {{ recipe.energy.protein }}</li>
        <li>carbohydrates {{ recipe.energy.carbohydrates }}</li>
    </ul>
{% for ingredient in recipe.ingredients %}
    <p>{{ ingredient.name }}</p>
    <p>Необходимо {{ ingredient.amount }} {{ ingredient.unit }}</p>
    <hr>
{% endfor %}
    <p>Рецепт:</p>
    {{ recipe.description|linebreaks }}
 {% endblock content %}