 {% extends 'base.html' %}

 {% block content %}
     <form action=".">
         <input type="text" name="query" value="{{ query|default:'' }}">
         <input type="submit" value="Поиск">
     </form>
    <h1>Все рецепты</h1>

    {% for recipe in recipe_list %}
        <h3>{{ recipe.title }}</h3>
        <p>
            {{ recipe.text|truncatewords:30 }}
{#            <a href="recipe/{{ recipe.id }}">Смотреть</a>#}
            <a href="{% url 'recipe_detail' recipe.id %}">Смотреть</a>
        </p>
        <p>{{ recipe.create_date }}&nbsp;{{ recipe.author }}</p>

    {% endfor %}
 {% endblock content %}